body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .background-image {
    background-image: url('Presentatie_Seederdeboer/Home/Avatar.png'); /* Replace 'your-background-image.jpg' with your actual image path */
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
  }
  
  .icons {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
  }
  
  .icons i {
    font-size: 35px;
    margin-bottom: 25px;
    color: lightblue;
    cursor: pointer;
  }
  
  .popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background: linear-gradient(to right, #f7f7f9 0%, #69b0d9 100%); */
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
    /* background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%); */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 75%; 
  }

  .text{
    font-size: 2rem;
    font-weight: bold;
    text-shadow:
    1px 1px 1px blue,
    2px 2px 1px blue;
    text-align: center;
  }

  .popup.buttons-popup {
    width: 60%; /* Adjust the width to your desired size */
    max-width: 400px; /* Set a maximum width if needed */
    text-align: center;
    padding: 20px;
  }
  
  .popup.buttons-popup button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    cursor: pointer;
  }
  
  .popup.buttons-popup button:hover {
    background-color: #3498db; /* Change the color on hover if desired */
    color: #fff;
  }
  
  .popup.buttons-popup button:last-child {
    margin-bottom: 0; /* Remove margin from the last button */
  }

  .popup_img{
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  .popup p {
    margin: 0;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: #333;
    cursor: pointer;
  }

  .popup.buttons-popup {
    width: 60%; /* Adjust the width to your desired size */
    max-width: 400px; /* Set a maximum width if needed */
    text-align: center;
    padding: 20px;
  }
  
  .popup.buttons-popup button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    cursor: pointer;
  }
  
  .popup.buttons-popup button:hover {
    background-color: #3498db; /* Change the color on hover if desired */
    color: #fff;
  }
  
  .popup.buttons-popup button:last-child {
    margin-bottom: 0; /* Remove margin from the last button */
  }